/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #BEBEBE;
}

h1 {
  color: #4A4A25;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  color: #93934a;
}

/* Add more custom styles as needed */